.loader-wrapper{
  //background-color: #A9A9A9;
  align-items: center;
  display: flex;
  justify-content: center;
  height: inherit;
  //opacity: .6;
  position: absolute;
  width: 96%;
  z-index: 10;
}

// .loader {
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }