.about-page {
    height: 100vh;
    padding-top: 60px;
    overflow: hidden;
}

.about-page-content {
    background-color: #222222;
    height: 85vh;
    padding: 32px 17px;
    overflow-y: auto;

    .about-gallery-container {

        .about-image {
            text-align: center;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }

            h3 {
                color: #ffffff;
                font-size: 21px;
                font-weight: 400;
                margin-bottom: 20px;
                text-align: center;
            }
        }

        .about-image.about-image--large {
            
            .about-image-container {
                height: 250px;
            }
        }
        .about-image.about-image--small {
            
            .about-image-container {
                height: 125px;
            }
        }
    }

    .about-page-content-text {
        color: #fff;
    }

    .form-group {

        .image-upload-container {
            margin-bottom: 5px;
            position: relative;
            width: 100%;

            .image-upload-overlay {
                background: rgba(0, 0, 0, 0);
                left: 0;
                height: 100%;
                position: absolute;
                top: 0;
                transition: background 0.5s ease;
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
            }

            .image-upload-file-container,
            .image-delete-file-container {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                transition: opacity .35s ease;
                z-index: 5;

                .custom-file-type {
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    width: 0.1px;
                    z-index: -1;
                }
                .custom-file-type + label {
                    align-items: center;
                    background-color: #0078D4;
                    border: 1px solid #0078D4;
                    border-radius: 100%;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    font-size: 1.25em;
                    font-weight: 700;
                    height: 60px;
                    margin: 0;
                    justify-content: center;
                    padding: 10px;
                    transition: all .5s ease-in-out;
                    width: 60px;
                }
                .custom-file-type:focus + label {     
                    pointer-events: none;
                }
            }
            .image-delete-file-container {
                .custom-file-type + label {
                    background-color: #DC143C;
                    border: 1px solid #DC143C;
                }
            }
        }
        .image-upload-container:hover {

            .image-upload-overlay {
                background: rgba(0, 0, 0, .3);
                display: block;
            }

            .image-upload-file-container,
            .image-delete-file-container  {
                opacity: 1;
            }
        }
        .image-upload-container.image-upload--large {
            height: 250px;

            .image-upload-file-container {
                left: 33%;
                top: 38%;
            }
            .image-delete-file-container {
                left: 52%;
                top: 38%;
            }
        }
        .image-upload-container.image-upload--small {
            height: 125px;

            .image-upload-file-container  {
                left: 15%;
                top: 25%;
            }
            .image-delete-file-container {
                left: 55%;
                top: 25%;
            }
        }

        input {
            align-items: center;
            border: none;
            border-radius: 0;
            display: flex;
            font-size: 14px;
            height: 32px;
            line-height: 19px;
            justify-content: center;
        }
    }
}

.content-overlay{
    height: 80%;
    width:100%;
    position: absolute;
}

.btn-center{
    text-align: center
}
.btn-infosec--link{
    width: 50%
}
