
.btn-infosec {
    border: 1px solid transparent !important;
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    padding: 5px 15px 7px 15px;
    transition: all .5s ease-in-out;
    width: 120px !important;
}
.btn-infosec:hover {
    background-color: transparent;
    text-decoration: none;
}

.btn-infosec--add {
    background-color: #0078D4;
    border: 1px solid #0078D4;
}
.btn-infosec--add:hover {
    background-color: rgb(20, 107, 173);
    color: #fff;
}

.btn-infosec--disabled {
    background-color: #6c757d !important;
    border: 1px solid #6c757d;
    color: #fff;
}

.btn-infosec--disabled:hover {
    background-color: #6c757d !important;
    border: 1px solid #6c757d;
    color: #fff;
}

.btn-infosec--edit {
    background-color: #1a8d8d;
    border: 1px solid #008080;
}
.btn-infosec--edit:hover {
    background-color: #057272;
    color: #fff;
}

.btn-infosec--save {
    background-color: rgb(51, 179, 106);
    border: 1px solid #3CB371; 
}
.btn-infosec--save:hover {
    background-color: rgb(32, 145, 81);
    color: #fff;
}

.btn-infosec--delete {
    background-color: rgb(196, 32, 65);
    border: 1px solid #DC143C; 
}
.btn-infosec--delete:hover {
    background-color: rgb(165, 33, 62);
    color: #fff;
}

.btn-infosec--cancel {
    background-color: rgb(255, 255, 255);
    border: 1px solid #A9a9a9;
    color: #000;
    text-align: center;
}
.btn-infosec--cancel:hover {
    background-color: rgb(192, 192, 192);
    color: #fff;
}

.btn-infosec--link {
    background-color: transparent;
    border: 1px solid #0078D4;
    color: #0078D4;
}
.btn-infosec--link:hover {
    background-color: #0078D4;
    border: 1px solid #0078D4;
    color: #fff;   
}

.btn-infosec--export {
    background-color: rgb(51, 179, 106);
    border: 1px solid rgb(51, 179, 106);
    width: 150px !important;
    margin-left: 15px;
}

.btn-infosec--export:hover {
    background-color: rgb(32, 145, 81);
    color: #fff;
}