// custom input file type css
.custom-input-file {
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    width: 0.1px;
    z-index: -1;
    
    + label {
        background-color: #DCDCDC;
        color: #000;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        padding: 3px 7px;
    }
}

.custom-input-file:focus + label {
    outline: 1px dotted #0078D4;
    outline: -webkit-focus-ring-color auto 5px;
}

// custom scroll bar css
#customScrollbar::-webkit-scrollbar {
    background-color: rgb(235, 235, 235);
    height: 12px;
    width: 7px;
}
#customScrollbar:hover::-webkit-scrollbar-thumb {
    background: #bbb;
}
#customScrollbar::-webkit-scrollbar-thumb:vertical:hover { 
    background: #999; 
}
#customScrollbar::-webkit-scrollbar-thumb:vertical:active { 
    background: #777; 
}

#customScrollbar::-webkit-scrollbar-button {
    height: 0;
}
#customScrollbar::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 100px;
    height: 60px;
}
#customScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}