.form-background {
    background-color: #222222;
    color: #fff;
    height: 85vh;
    overflow-y: auto;

    label {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    input,
    select {
        align-items: center;
        border: none;
        border-radius: 0;
        display: flex;
        font-size: 14px;
        height: 32px;
        line-height: 19px;
        padding-bottom: 7px;
        width: 100%;
    }

    .form-whats-new {
        height: 32px;

        input {
            background-color: #fff;
            border: none;
            border-radius: 0;
            height: 20px;
            width: 20px;
        }
        label {
            margin: 4px 0 auto 6px;
        }
    }

    .btn-toolbar {
        margin-bottom: 100px;
        
        button {
            border: none;
            border-radius: 0;
            padding: 8px 32px;
        }
        button.btn-primary {
            margin-right: 20px;
        }
    }
}

.form--edit-bg {
    background-color: #222222;
    height: 85vh;
    overflow-y: auto;
    padding: 20px 5px;

    .content{
        text-align: center;
    }

    .form-group {
        
        .image-upload-container {
            margin-bottom: 5px;
            position: relative;
            width: 100%;

            .image-upload-overlay {
                background: rgba(0, 0, 0, 0);
                left: 0;
                height: 100%;
                position: absolute;
                top: 0;
                transition: background 0.5s ease;
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
            }

            .image-upload-file-container {
                opacity: 0;
                position: absolute;
                transition: opacity .35s ease;
                z-index: 5;

                .custom-file-type {
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    width: 0.1px;
                    z-index: -1;
                }
                .custom-file-type + label {
                    align-items: center;
                    background-color: #0078D4;
                    border: 1px solid #0078D4;
                    border-radius: 100%;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    font-size: 1.25em;
                    font-weight: 700;
                    height: 60px;
                    margin: 0;
                    justify-content: center;
                    padding: 10px;
                    transition: all .5s ease-in-out;
                    width: 60px;
                }
                .custom-file-type:focus + label {     
                    pointer-events: none;
                }                
            }

            .image-delete-file-container {
                opacity: 0;
                position: absolute;
                transition: opacity .35s ease;
                z-index: 5;

                .custom-file-type {
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    width: 0.1px;
                    z-index: -1;
                }
                .custom-file-type + label {
                    align-items: center;
                    background-color: #DC143C;
                    border: 1px solid #DC143C;
                    border-radius: 100%;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    font-size: 1.25em;
                    font-weight: 700;
                    height: 60px;
                    margin: 0;
                    justify-content: center;
                    padding: 10px;
                    transition: all .5s ease-in-out;
                    width: 60px;
                }
                .custom-file-type:focus + label {     
                    pointer-events: none;
                }                
            }
        }
        .image-upload-container:hover {

            .image-upload-overlay {
                background: rgba(0, 0, 0, .3);
                display: block;
            }

            .image-upload-file-container,
            .image-delete-file-container {
                opacity: 1;
            }
        }
        .image-upload-container.image-upload--large {
            height: 300px;

            .image-upload-file-container.uploader0 {
                left: 45%;
                top: 42%;
            }

            .image-upload-file-container {
                left: 38%;
                top: 42%;
            }

            .image-delete-file-container {
                left: 52%;
                top: 42%;
            }
        }
        .image-upload-container.image-upload--small {
            height: 125px;

            .image-upload-file-container,
            .image-delete-file-container {
                left: 35%;
                top: 25%;
            }
        }
    }
    table {
        width: 60%;
        margin: 0 auto;
    }
    
    button {
        width: 59.8%;
        margin: 0 auto;
    }

}

#txtDateReleased::-ms-clear{
    display: none;
}