@import '_buttons.scss';
@import '_custom.scss';

.no-padding {
    padding: 0;
}

.footer-container {
    align-items: center;
    background-color: #000000;
    bottom: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;

    p,
    span {    
        color: #fff;
        margin: 0;
    }
}

.with-padding {
    padding: 30px;
}

.padding-left {
    padding-left: 50px;
}