@import "~slick-carousel/slick/slick.css";

.homepage-container {
    height: 100vh;
    overflow: hidden;

    .background-container {
        .slick-slider {

            .slick-list {

                .slick-track {

                    .slick-slide {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 94vh;

                        div{
                            height: inherit;
                            
                            img{
                                height: inherit;
                            }
                        }
                    }
                    
                    .slick-slide[data-index="0"] {
                        background-image: url('https://meralco.sharepoint.com/sites/infoseconlinedev2/HomepagePictures/slider-image-a.jpg');
                    }
                    .slick-slide[data-index="1"] {
                        background-image: url('https://meralco.sharepoint.com/sites/infoseconlinedev2/HomepagePictures/slider-image-b.jpg');
                    }
                    .slick-slide[data-index="2"] {
                        background-image: url('https://meralco.sharepoint.com/sites/infoseconlinedev2/HomepagePictures/slider-image-c.jpg');
                    } 
                }
            }
        }
    }

    .homepage-overlay {
        background-image: linear-gradient(to right,rgba(0,0,0,0.9), rgba(0,0,0,0.3));
        clip-path: polygon(
          0 0,
          40% 0,
          1030px 100%,
          0 100%
        );
        height: 100vh;
        position: absolute;
        transition: all 1s ease-in-out;
        width: 100%;
        z-index: 2;
    }

    .homepage-content {
        height: 100%;
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1 {
            color: #fff;
            font-size: 35px;
            font-weight: 600;
            padding: 60px 0 0 40px;
        }

        .homepage-carousel {
            text-align: center;
            width: 55%;
            margin-top: -65px;
            margin-left: 50px;
            h5 {
                color: #fff;
            }
        }

        .homepage-contact {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 60%;

            p {
                color: #fff;
                font-size: 20px; 
                font-weight: 400;
                margin: 0 10px 0 0;
            }

            a {
                align-items: center;
                background-color: #fff;
                border-radius: 100%;
                cursor: pointer;
                display: flex;
                height: 40px;
                margin: 0 10px;
                justify-content: center;
                width: 40px;
                
                img {
                    height: 20px;
                    width: 19px;
                }
            }

            a.homepage__btn-report {
                border-radius: 20px;
                width: 226px;

                img {
                    margin-right: 20px;
                }
            }
        }
    }
    .background-container{
        padding-top: 60px;

        button{
            display:none !important;
        }
    }
}

.swiperContainerPerspective {
    height: 500px;
    margin: 0 auto;
    perspective: 100px !important;
    width: 400px !important;

    .swiper-button-prev {
        align-items: center; 
        background-color: #60C0FF;
        background-image: none;
        border: none;
        border-radius: 100%;
        display: flex;
        position: absolute;
        left: -65px;
        justify-content: center;
        width: 48px;
        height: 54px;
        padding: 15px 3px;
        i {
            color: #fff;
            font-size: 18px;
        }
    }
    .swiper-button-next {
        align-items: center; 
        background-color: #60C0FF;
        background-image: none;
        border: none;
        border-radius: 100%;
        display: flex;
        position: absolute;
        right: -65px;
        justify-content: center;
        width: 48px;
        height: 54px;
        padding: 15px 3px;
        i {
            color: #fff;
            font-size: 18px;
        }
    }

    
}

.pop-up {
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 95px;
    position: relative;
    margin-right: -49px;
}

.contact-us-link{
    color:white !important;
}

.custom-slick {
    width:  560px;
    height: 400px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: auto;
    position: relative !important;
    box-sizing: border-box;

    .slick-list {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 500px;
        overflow: hidden;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
        z-index: -1;
        position: relative;
    }   

    .slick-list,
    .slick-track,
    .slick-slide {
        width: 560px !important;
        height: 400px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .custom-slick .slick-slide.slick-active.slick-center {
        width: 560px !important; 
    }

    .slick-slide .custom-slick__image-container {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        height: 400px;
        width: 100vw !important;

        .custom-slick__image {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 100%;
            width: 560px;
        }
    }
}

// .custom-slick .slick-slide {
//     height: 364px !important;
//     opacity: 0;
// }

// .custom-slick .slick-slide.slick-active {
//     height: 364px !important;
//     opacity: 1;
// }

// .custom-slick .slick-slide img {
//     margin: 0;
//     padding: 0;
//     display: block;
//     height: 100%;
//     width: auto;
// }

// .slick-btn {
//     border-radius: 100%;
//     width: 40px;
//     height: 40px;
//     border: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     transform: translate(-50%, -50%);
// }

// .slick-btn i {
//     color: #60c0ff;
//     font-size: 24px;
// }

// .slick-btn.slick-next {
//     right: -70px;
//     top: 55%;
// }
// .slick-btn.slick-prev {
//     left: -30px;
//     top: 55%;
// }

.homepage-carousel {
    height: 400px;
    position: relative;
    width: 760px;

    .carousel-slides {
        height: 400px;
        width: 560px !important;
    
        .carousel-slide {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
        }
    }

    .slick-btn {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    .slick-btn i {
        color: #60c0ff;
        font-size: 24px;
    }
    
    .slick-btn.slick-next {
        right: 0px;
        top: 50%;
    }
    .slick-btn.slick-prev {
        left: 35px;
        top: 50%;
    }
}

.slick-current{
    z-index: 999999999999999 !important;
}