.inner-header-container {
    background-color: #000;
    padding: 24px;

    .inner-header {
        background-color: #fff;
        padding: 8px 16px 12px 16px;

        .row {
            align-items: center;
            display: flex;

            h2 {
                color: #333333;
                font-size: 21px;
                font-weight: 400;
                line-height: 28px;
                margin: 0;
            }
        }

        .inner-header-actions {
            display: flex;
            justify-content: flex-end;

            .btn-infosec--save,
            .btn-infosec--delete {
                margin-right: 15px;
            }
            
            .btn-infosec--cancel {
                width: 200px !important;
            }
        }
    }
}