.main-navigation {
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;

    .navbar {
        height: 100%;
        padding: 0;

        .navbar-brand {
            margin-left: 30px;
            margin-right: 70px;
            padding: 0;
    
            img {
                height: 100%;
                // filter: brightness(0) invert(1);
            }
        }
    
        .navbar-collapse {
            height: 100%;

            .navbar-nav {
                align-items: center;
                display: flex;
                height: 100%;
                width: 100%;

                .nav-link {
                    align-items: center;
                    color: #fff;
                    display: flex;
                    height: 100%;
                    padding: 0 14px;
                    transition: all .5s ease-in-out;
                }
                .nav-link:hover,
                .nav-link:active,
                .nav-link:focus {
                    background-color: #000000;
                }
                .dropdown {
                    height: 100%;

                    .dropdown-menu {
                        border-radius: 0;
                        margin-top: 0;
                        padding: 0;

                        a.dropdown-item {
                            padding: 7px 12px;
                        }
                        a.dropdown-item:hover {
                            background-color: #A9A9A9;
                            color: #fff;
                        }
                    }

                    a.dropdown-toggle {
                        
                        p {
                            align-items: center;
                            display: flex;
                            margin-bottom: 0;

                            i {
                                font-size: 15px;
                                line-height: 19px;
                                margin-left: 5px;
                            }
                        }
                    }
                    a.dropdown-toggle::after {
                        display: none;
                    }
                }
                .nav-link--last {
                    margin-left: auto;
                }
            }
        }
    }
}