.sidebar {
    background-color: #222222;
    border-right: 1px solid #EAEAEA;
    height: 100vh;
    padding: 27px 0;
}
.sidebar--disable {

    .sidebar--disable-search {

        label {
            color: #A6A6A6;
            font-size: 14px;
            margin: 0 10px 10px 10px;
        }
        form {
            background-color: #000;
            margin-bottom: 30px;
            padding: 0 10px;

            input {
                background-color: #000;
                border: none;
                border-bottom: 1px solid #EAEAEA;
                border-radius: 0;
                margin-right: 0 !important;
                width: 100%;
                color: #fff;
            }

            input:-ms-input-placeholder {
                color: #525252 !important;
            }
        }
    }

    .sidebar--disable-dropdown {

        label {
            color: #A6A6A6;
            font-size: 14px;
            margin: 0 10px 10px 10px;
        }

        form {
            background-color: #000;
            margin-bottom: 30px;
            padding: 0 10px;

            input {
                background-color: #000;
                border: none;
                border-bottom: 1px solid #EAEAEA;
                border-radius: 0;
                margin-right: 0 !important;
                width: 100%;
                color: #fff;
            }

            input:-ms-input-placeholder {
                color: #525252 !important;
            }
        }
        // .dropdown {
        //     padding: 0 10px;

        //     button {
        //         background-color: #000;
        //         border: none;
        //         border-radius: 0;
        //         color: #A6A6A6;
        //         font-size: 14px;
        //         position: relative;
        //         text-align: left;
        //         width: 100%;
        //     }
        //     button.dropdown-toggle::after {
        //         position: absolute;
        //         right: 15px;
        //         top: 45%;
        //     }
        // }
       
    }

    .btn-center{
        text-align: center
    }
    .btn-infosec{
        width: 65%
    }
}