/* .thumbnail-card {
    background-color: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 11px;
    transition: all .5s ease-in-out;

    .thumbnail-card-image {
        height: 340px;
        margin-bottom: 7px;
        width: 100%;
        background-color: #fff;
        text-align: center;

        img {
            height: 100%;
            width: 100%;
            //max-width: 100%;
        }
    }
    .thumbnail-card-title {
        
        h5 {
            color: #666666;
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    .thumbnail-card-content {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .thumbnail-card-content-date {
            font-size: 12px;
            margin-bottom: 0;
        }

        .thumbnail-card-content-action {

            a i.ms-Icon--RecycleBin {
                color: #FF5113;
                font-size: 17px;
            }
            a i.ms-Icon--ExcelLogo {
                color: #3CB371;
                font-size: 17px;
            }
        }
    }
}
*/
.thumbnail-card:hover {
    transform: scale(1.1);
} 

.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.thumbnail-card {
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    width: auto;
    background-color: #fff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-right: 10px;
}

.img-container {
    height: 200px;
    margin-bottom: 5px;
    width: auto;
}

.img-container img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.content-container {
    display: inline-block;
}

.content-container h5 {
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
}

.content-container span {
    font-size: 12px;
    margin-bottom: 0;
}