@font-face {
    font-family: 'SegoeUI';
    src: url('../public/assets/fonts/SegoeUI.eot');
    src: url('../public/assets/fonts/SegoeUI.eot') format('embedded-opentype'),
         url('../public/assets/fonts/SegoeUI.woff2') format('woff2'),
         url('../public/assets/fonts/SegoeUI.woff') format('woff'),
         url('../public/assets/fonts/SegoeUI.ttf') format('truetype'),
         url('../public/assets/fonts/SegoeUI.svg#SegoeUI') format('svg');
}
