.undertaking-container {
    height: 100vh;
    overflow: hidden;
    padding: 60px 0;

    .content{
        background-color: #222222;
    }

    .undertaking-cards-container {
        padding: 20px 5px;

        .undertaking-cards {

            border: none;
            border-radius: 5px;
            /* -webkit-box-shadow: 0px 0px 6px 0px rgba(166,164,166,1);
            -moz-box-shadow: 0px 0px 6px 0px rgba(166,164,166,1);
            box-shadow: 0px 0px 6px 0px rgba(166,164,166,1); */
            margin-bottom: 15px;
            padding: 15px;
            width: 100%;
            background-color: #fff;

            .undertaking-cards-image {

                img {
                    height: 180px;
                    width: 100%;
                }
            }

            .undertaking-cards-content {
                
                h3 {
                    font-size: 14px;
                    margin: 10px 0;
                }
                
                .undertaking-cards-action {
                    display: flex;
                    justify-content: flex-end;
                    padding: 5px 0;
                }
            }
        }
    }
}