.adminTag {
    background-color: #F4F4F4;
    color: #000000;
    padding: 2px 13px;
    margin: 0 5px;
    font-size: 11px
}

.view-item-row {
    padding: 8px;
}

.view-item-count {
    position: relative;
    bottom: 57px;
    color: #000;
    background-color: #F4F4F4;
    padding: 4px 13px;
}

.button-center {
    width: 180px !important;
    margin-top: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0;
}

.undertaking-count {
    bottom: 106px !important;
}